{% extends 'base_layout.html' %}

{% block title %}QUESTION THREE{% endblock %}

{% block body %}
<h1>Enter the results for the new polling unit</h1>
<br>
<form action="{% url 'page_three' %}" method="post">
    {% csrf_token %}
    
    <div class="form-group col-12 col-md-5">
        <label for="formGroupExampleInput">Polling unit unique ID</label>
        <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Polling unit unique ID" name = "pol-id">
    </div>
    
    <div class="form-group col-12 col-md-5">
        <label for="formGroupExampleInput">User</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="User" name="user">
    </div>
    <br>
    <br>
    <div class="form-row form-group col-12 col-md-5">

        {% for x in all_parties %}
            <input type="hidden" value="{{x.partyname}}" name="{{x.partyname}}">
            <label for="{{x.partyname}}-score"><b>{{x.partyname}}</b></label>
        
            <div class="form-group col-md-4 mb-3" id="party-score">
                <input type="number" class="form-control" id="formGroupExampleInput2" value="0" name="{{x.partyname}}-score">

            </div>
        {% endfor %}
    <button class="button-18" role="button" type="submit">submit</button>
    </div>

</form>






{% endblock %}
